*{
    text-decoration: none;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.navbar{
    background: #000000; align-items: center;
    padding-right: 10px; padding-left: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    }
.navdiv{
    display:flex; align-items: center; justify-content: space-between;
}
    
.logo{
    font-size: 30px; font-weight: 600;color:orange;
}
    
li{
list-style: none; display: inline-block;
}
    
.custom-links a {
    color: #ff6600; 
}
    
.custom-links a:hover {
    color: white; 
}

.container1 {
    background-color: lightblue;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    padding: 30px;
    margin: auto;
    
    
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #3a3a3a;
    margin: 0;
    font-size: 24px;
}

.subtitle {
    color: #717171;
    font-size: 14px;
    margin-top: 5px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #4a4a4a;
    font-weight: 500;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.2s;
    box-sizing: border-box;
}

input:focus {
    border-color: #4a90e2;
    outline: none;
}

button {
    background-color: #fff;
    color: black;
    border: 1px solid #000;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    letter-spacing: 0.1em;
    font-weight: 700;
    padding: 1.25em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    color: #f1ae18;
    background: black
  }
.error-message {
    background-color: #fff0f0;
    color: #e53935;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 20px;
    display: none;
}

.main-footer{
    width: 100%;
    height: 100%;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
    
    text-align: center;
    color:orange;
    padding: 1rem 0;
    font-size: 0.875rem;
li{
    list-style: none; display: block;
}

a{
    color:orange; 
}
a:hover {
    color:white; 
}

}


@media (max-width: 480px) {
    .container {
        padding: 20px;
    }
}

